# --- MongoDB (Mongoose) ---
MONGO_URI=mongodb://localhost:27017/product_crud_challenge

# --- MySQL (mysql2) ---
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DB=product_crud_challenge

# --- Server ---
PORT=5000
